In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("adult.data.csv")

In [7]:
data.head(50)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
33,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
34,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
36,21,Private,197200,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
37,19,Private,544091,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25,United-States,<=50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
39,48,Self-emp-not-inc,265477,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
40,31,Private,507875,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,43,United-States,<=50K
41,53,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
42,24,Private,172987,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States,<=50K
43,49,Private,94638,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
44,25,Private,289980,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,35,United-States,<=50K
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
46,53,Private,144361,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States,<=50K
47,44,Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
48,41,State-gov,101603,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
49,29,Private,271466,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,United-States,<=50K

1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [8]:
data[data["sex"] == "Male"]["age"].count()

21790

In [9]:
data[data["sex"] == "Female"]["age"].count()

10771

2. Каков средний возраст (признак age) женщин?

In [10]:
data[data["sex"] == "Female"]["age"].mean()

36.85823043357163

3. Какова доля граждан Германии (признак native-country)?

In [11]:
(data[data["native-country"] == "Germany"]["age"].count()/data["age"].count())*100

0.42074874850281013

4. Средние значения возраста тех, кто получает более 50К

In [12]:
data[data["salary"] == ">50K"]["age"].mean()

44.24984058155847

5. Средние значения возраста тех, кто получает менее 50К

In [13]:
data[data["salary"] == "<=50K"]["age"].mean()

36.78373786407767

6. Среднеквадратическое отклонение возраста тех, кто получает более 50К

In [14]:
data[data["salary"] == ">50K"]["age"].std()

10.519027719851826

7. Среднеквадратическое отклонение возраста тех, кто получает менее 50К

In [15]:
data[data["salary"] == "<=50K"]["age"].std()

14.02008849082488

8. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [16]:
(data[data["salary"] == ">50K"]["age"].count() - data[data["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]) & (data["salary"] == ">50K")]["age"].count()) == 0

False

9. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [48]:
for race, sub_df in data.groupby("race"):
    print(race)
    print(sub_df['age'].mean())

Amer-Indian-Eskimo
37.17363344051447
Asian-Pac-Islander
37.74687199230029
Black
37.7679257362356
Other
33.457564575645755
White
38.76988064423354

8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [44]:
(data[(data['sex'] == 'Male') & (data['salary'] == '>50K') & (data['marital-status'].str.startswith('Married'))]['age'].count()/ \
data[(data['sex'] == 'Male') & (data['salary'] == '>50K') & (~data['marital-status'].str.startswith('Married'))]['age'].count()) > 1

True

9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [55]:
data['hours-per-week'].max()
data[data['hours-per-week'] == data['hours-per-week'].max()]['age'].count()

85

In [60]:
(data[(data['hours-per-week'] == data['hours-per-week'].max()) & (data['salary'] == '50K>')]['age'].count()/\
data[data['hours-per-week'] == data['hours-per-week'].max()]['age'].count()) * 100

29.411764705882355

10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [76]:
for country, sub_df in data.groupby('native-country'):
    print(country)
    print('>50K  -- ', sub_df[sub_df['salary'] == ">50K"]['hours-per-week'].mean())
    print('<=50K -- ',sub_df[sub_df['salary'] == "<=50K"]['hours-per-week'].mean())

?
>50K  --  45.54794520547945
<=50K --  40.16475972540046
Cambodia
>50K  --  40.0
<=50K --  41.416666666666664
Canada
>50K  --  45.64102564102564
<=50K --  37.91463414634146
China
>50K  --  38.9
<=50K --  37.38181818181818
Columbia
>50K  --  50.0
<=50K --  38.68421052631579
Cuba
>50K  --  42.44
<=50K --  37.98571428571429
Dominican-Republic
>50K  --  47.0
<=50K --  42.338235294117645
Ecuador
>50K  --  48.75
<=50K --  38.041666666666664
El-Salvador
>50K  --  45.0
<=50K --  36.03092783505155
England
>50K  --  44.53333333333333
<=50K --  40.483333333333334
France
>50K  --  50.75
<=50K --  41.05882352941177
Germany
>50K  --  44.97727272727273
<=50K --  39.13978494623656
Greece
>50K  --  50.625
<=50K --  41.80952380952381
Guatemala
>50K  --  36.666666666666664
<=50K --  39.36065573770492
Haiti
>50K  --  42.75
<=50K --  36.325
Holand-Netherlands
>50K  --  nan
<=50K --  40.0
Honduras
>50K  --  60.0
<=50K --  34.333333333333336
Hong
>50K  --  45.0
<=50K --  39.142857142857146
Hungary
>50K  --  50.0
<=50K --  31.3
India
>50K  --  46.475
<=50K --  38.233333333333334
Iran
>50K  --  47.5
<=50K --  41.44
Ireland
>50K  --  48.0
<=50K --  40.94736842105263
Italy
>50K  --  45.4
<=50K --  39.625
Jamaica
>50K  --  41.1
<=50K --  38.23943661971831
Japan
>50K  --  47.958333333333336
<=50K --  41.0
Laos
>50K  --  40.0
<=50K --  40.375
Mexico
>50K  --  46.57575757575758
<=50K --  40.00327868852459
Nicaragua
>50K  --  37.5
<=50K --  36.09375
Outlying-US(Guam-USVI-etc)
>50K  --  nan
<=50K --  41.857142857142854
Peru
>50K  --  40.0
<=50K --  35.06896551724138
Philippines
>50K  --  43.032786885245905
<=50K --  38.065693430656935
Poland
>50K  --  39.0
<=50K --  38.166666666666664
Portugal
>50K  --  41.5
<=50K --  41.93939393939394
Puerto-Rico
>50K  --  39.416666666666664
<=50K --  38.470588235294116
Scotland
>50K  --  46.666666666666664
<=50K --  39.44444444444444
South
>50K  --  51.4375
<=50K --  40.15625
Taiwan
>50K  --  46.8
<=50K --  33.774193548387096
Thailand
>50K  --  58.333333333333336
<=50K --  42.86666666666667
Trinadad&Tobago
>50K  --  40.0
<=50K --  37.05882352941177
United-States
>50K  --  45.50536884674383
<=50K --  38.79912723305605
Vietnam
>50K  --  39.2
<=50K --  37.193548387096776
Yugoslavia
>50K  --  49.5
<=50K --  41.6